<section class="container my-5">
    <h2 class="title my-4 text-center">Categorias</h2>
    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4 mb-4">
        <div class="col">
            <div class="card text-bg-dark" style="background-image: url('/assets/img/categories/salon.jpg');">
                <div class="card-img-overlay">
                    <h2>Salón</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark" style="background-image: url('/assets/img/categories/banda.jpg');">
                <div class="card-img-overlay">
                    <h2>Conjunto</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark" style="background-image: url('/assets/img/categories/pastel.jpg');">
                <div class="card-img-overlay">
                    <h2>Pastel</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark" style="background-image: url('/assets/img/categories/banquete.jpg');">
                <div class="card-img-overlay">
                    <h2>Banquete</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark" style="background-image: url('/assets/img/categories/dj.jpg');">
                <div class="card-img-overlay">
                    <h2>Sonido</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark" style="background-image: url('/assets/img/categories/white.jpg');">
                <div class="card-img-overlay">
                    <h2>Ver todas...</h2>
                </div>
            </div>
        </div>
    </div>
</section>