<section class="container my-5 pt-1">
    <h2 class="title mt-4 text-center">Categorias</h2>
    <span class="div-bar"></span>
    <p class="text-center mt-3 pb-2">Agrupamos todo para ti, ¡Encuentra lo mejor!</p>
    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4 mb-4">
        <div class="col">
            <div class="card text-bg-dark" style="background-image: url('assets/img/categories/salon.jpg');">
                <div class="card-img-overlay">
                    <h2>Salón</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark" style="background-image: url('assets/img/categories/banda.jpg');">
                <div class="card-img-overlay">
                    <h2>Conjunto</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark" style="background-image: url('assets/img/categories/dj.jpg');">
                <div class="card-img-overlay">
                    <h2>Sonido</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark" style="background-image: url('assets/img/categories/pastel.jpg');">
                <div class="card-img-overlay">
                    <h2>Pastel</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark" style="background-image: url('assets/img/categories/banquete.jpg');">
                <div class="card-img-overlay">
                    <h2>Banquete</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark" style="background-image: url('assets/img/categories/inflable.jpg');">
                <div class="card-img-overlay">
                    <h2>Inflable</h2>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 col-12 col-sm-12 mx-auto">
            <button class="btn btn-primary" type="button">Ver todas</button>
        </div>
    </div>
</section>