<section class="container">
    <h2 class="my-4 text-center">Categorias</h2>
    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4 mb-4">
        <div class="col">
            <div class="card text-bg-dark">
                <img src="assets/img/categories/salon.jpg" class="card-img">
                <div class="card-img-overlay">
                    <h3>Salón</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark">
                <img src="assets/img/categories/banda.jpg" class="card-img">
                <div class="card-img-overlay">
                    <h3>Conjunto</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark">
                <img src="assets/img/categories/pastel.jpg" class="card-img">
                <div class="card-img-overlay">
                    <h3>Pastel</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark">
                <img src="assets/img/categories/banquete.jpg" class="card-img">
                <div class="card-img-overlay">
                    <h3>Banquete</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark">
                <img src="assets/img/categories/dj.jpg" class="card-img">
                <div class="card-img-overlay">
                    <h3>Sonido</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark">
                <img src="assets/img/categories/white.jpg" class="card-img">
                <div class="card-img-overlay">
                    <h3>Ver todas...</h3>
                </div>
            </div>
        </div>
    </div>
</section>