@import "../../../../../styles.scss";
.title {
    color: $gray;
}

h2 {
    font-weight: 800;
}

.card {
    img {
        opacity: 0.6;
        height: 100% !important;
        max-height: 230px;
    }
    .card-img-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
            font-weight: 800;
            text-align: center;
        }
    }
}