<footer>
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-6 col-lg-4 footer-item-logo">
                <a href="index.html"><img class="logo-footer" src="assets/img/icon.png" alt="fiesta.plus"></a>
                <p>¡Encuentra lo mejor!</p>
                <ul class="social-list">
                    <li><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/mikecoach.fit"><i class="fa fa-facebook"
                                aria-hidden="true"></i></a></li>
                    <li><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/mikecoach.fit"><i class="fa fa-instagram"
                                aria-hidden="true"></i></a></li>
                    <li><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/mikecoach.fit"><i class="fa fa-whatsapp"
                                aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-4 footer-item footer-item-list mt-3">
                <h3>Menú</h3>
                <ul class="footer-link">
                    <li><a href="index.html">-Inicio</a></li>
                    <li><a href="index.html">-Categorías</a></li>
                    <li><a href="index.html">-Destacados</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-4 footer-item mt-3">
                <h3>Contacto</h3>
                <ul class="footer-cont">
                    <li><i class="fontAwesome">&#xf0e0;</i><a href="mailto:contacto@mikecoach.com.mx"> contacto@fiesta.plus</a></li>
                    <li><i class="fontAwesome">&#xf232;</i><a href="mailto:contacto@mikecoach.com.mx"> Enviar mensaje </a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom mt-3 py-3">
            <div class="copyright"><a href="#" target="_blank" rel="noopener noreferrer">Fiesta.plus</a> © 2022.</div>
        </div>
    </div>
</footer>