<section class="search-bg">
    <div class="container card shadow-sm">
        <h1>Encuentra
            <h1 class="dropping-texts">
                <div>musica</div>
                <div>salón</div>
                <div>pastel</div>
                <div>todo</div>
            </h1>
            para tu fiesta
        </h1>
        <p>¡Compara y contrata lo mejor para tu fiesta o evento!</p>
        <form class="row">
            <div class="col-lg-4 my-2 my-lg-4">
                <input type="text" class="form-control form-control-lg fontAwesome" placeholder="&#xf002; ¿Que necesitas?">
            </div>
            <div class="col-lg-3 my-2 my-lg-4">
                <select class="form-select form-select-lg fontAwesome">
                    <option hidden selected class="fontAwesome"> &#xf3c5; Ubicación</option>
                    <option value="1">Toluca</option>
                    <option value="2">Metepec</option>
                </select>

            </div>
            <div class="col-lg-3 my-2 my-lg-4">
                <select class="form-select form-select-lg fontAwesome">
                    <option hidden selected class="fontAwesome"> &#xf03a; Categoría</option>
                    <option value="1">Salones</option>
                    <option value="2">Musica</option>
                    <option value="3">Banquetes</option>
                </select>
            </div>
            <div class="col-lg-2 my-2 my-lg-4">
                <button type="submit" class="btn btn-lg btn-primary w-100">Buscar</button>
            </div>
        </form>
    </div>
</section>