@import "../../../../styles.scss";
nav {
    background-color: #ffffff8f;
}

.navbar-brand {
    font-weight: 600;
    color: #4b4b4b;
    font-size: 22px;
    img {
        margin-right: 10px;
    }
}