<section class="container my-5 pt-1">
    <h2 class="title mt-4 text-center">Destacados</h2>
    <span class="div-bar"></span>
    <p class="text-center mt-3 pb-2">Conoce algunos de los servicios principales</p>
    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4 mb-4">
        <div class="col">
            <div class="card">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/img/services/mesa.jpg" class="d-block w-100 card-img-top" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/services/salon1.jpg" class="d-block w-100 card-img-top" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/services/salon0.jpg" class="d-block w-100 card-img-top" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mesas de dulces "Chamoya"</h5>
                    <h6 class="card-subtitle mb-2 text-muted fontAwesome">&#xf3c5; Toluca, Estado de México</h6>
                    <span class="badge rounded-pill text-bg-secondary fontAwesome">&#xf786; Mesa de dulces</span>
                    <p class="card-text py-3 my-0">Disfruta de una increíble fiesta infantil en un espacio mágico y lleno de diversión para tus pequeños.</p>
                    <a href="" class="fontAwesome text-decoration-none">&#xf082;</a>
                    <a href="" class="fontAwesome text-decoration-none">&#xf16d;</a>
                    <a href="" class="fontAwesome text-decoration-none">&#xf57d;</a>
                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-primary" type="button">Ver detalles</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/img/services/dec.jpg" class="d-block w-100 card-img-top" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/services/salon0.jpg" class="d-block w-100 card-img-top" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/services/salon1.jpg" class="d-block w-100 card-img-top" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Salon de fiestas "Los arcos"</h5>
                    <h6 class="card-subtitle mb-2 text-muted fontAwesome">&#xf3c5; Toluca, Estado de México</h6>
                    <span class="badge rounded-pill text-bg-secondary fontAwesome">&#xf67f; Salón</span>
                    <p class="card-text py-3 my-0">Disfruta de una increíble fiesta infantil en un espacio mágico y lleno de diversión para tus pequeños.</p>
                    <a href="" class="fontAwesome text-decoration-none">&#xf082;</a>
                    <a href="" class="fontAwesome text-decoration-none">&#xf16d;</a>
                    <a href="" class="fontAwesome text-decoration-none">&#xf57d;</a>
                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-primary" type="button">Ver detalles</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/img/services/salon0.jpg" class="d-block w-100 card-img-top" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/services/salon1.jpg" class="d-block w-100 card-img-top" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/services/salon0.jpg" class="d-block w-100 card-img-top" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Salon de fiestas "Los arcos"</h5>
                    <h6 class="card-subtitle mb-2 text-muted fontAwesome">&#xf3c5; Toluca, Estado de México</h6>
                    <span class="badge rounded-pill text-bg-secondary fontAwesome">&#xf67f; Salón</span>
                    <p class="card-text py-3 my-0">Disfruta de una increíble fiesta infantil en un espacio mágico y lleno de diversión para tus pequeños.</p>
                    <a href="" class="fontAwesome text-decoration-none">&#xf082;</a>
                    <a href="" class="fontAwesome text-decoration-none">&#xf16d;</a>
                    <a href="" class="fontAwesome text-decoration-none">&#xf57d;</a>
                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-primary" type="button">Ver detalles</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>