<section class="container my-5">
    <h2 class="title mt-4 text-center">Destacados</h2>
    <span class="div-bar"></span>
    <p class="text-center mt-3">Conoce algunos de los servicios principales</p>
    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4 mb-4">
        <div class="col">
            <div class="card">
                <img src="assets/img/categories/salon.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Salon de fiestas "Los arcos"</h5>
                    <h6 class="card-subtitle mb-2 text-muted fontAwesome">&#xf3c5; Toluca, Estado de México</h6>
                    <span class="badge rounded-pill text-bg-secondary fontAwesome">&#xf67f; Salón</span>
                    <p class="card-text py-3 my-0">Disfruta de una increíble fiesta infantil en un espacio mágico y lleno de diversión para tus pequeños.</p>
                    <a href="" class="fontAwesome text-decoration-none">&#xf082;</a>
                    <a href="" class="fontAwesome text-decoration-none">&#xf16d;</a>
                    <a href="" class="fontAwesome text-decoration-none">&#xf57d;</a>
                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-primary" type="button">Ver detalles</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/categories/salon.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Salon de fiestas "Los arcos"</h5>
                    <h6 class="card-subtitle mb-2 text-muted fontAwesome">&#xf3c5; Toluca, Estado de México</h6>
                    <span class="badge rounded-pill text-bg-secondary fontAwesome">&#xf67f; Salón</span>
                    <p class="card-text py-3 my-0">Disfruta de una increíble fiesta infantil en un espacio mágico y lleno de diversión para tus pequeños.</p>
                    <a href="" class="fontAwesome text-decoration-none">&#xf082;</a>
                    <a href="" class="fontAwesome text-decoration-none">&#xf16d;</a>
                    <a href="" class="fontAwesome text-decoration-none">&#xf57d;</a>
                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-primary" type="button">Ver detalles</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/categories/salon.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Salon de fiestas "Los arcos"</h5>
                    <h6 class="card-subtitle mb-2 text-muted fontAwesome">&#xf3c5; Toluca, Estado de México</h6>
                    <span class="badge rounded-pill text-bg-secondary fontAwesome">&#xf67f; Salón</span>
                    <p class="card-text py-3 my-0">Disfruta de una increíble fiesta infantil en un espacio mágico y lleno de diversión para tus pequeños.</p>
                    <a href="" class="fontAwesome text-decoration-none">&#xf082;</a>
                    <a href="" class="fontAwesome text-decoration-none">&#xf16d;</a>
                    <a href="" class="fontAwesome text-decoration-none">&#xf57d;</a>
                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-primary" type="button">Ver detalles</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>