@import "../../../../styles.scss";
.title {
    color: $gray;
}

h2 {
    font-weight: 800;
}

.group {
    border-top: 3px solid $secondary;
}

.card {
    min-height: 150px;
    .card-img-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.card:hover {
    cursor: pointer;
    h2 {
        color: #cfcfcf;
    }
}