<public-navbar></public-navbar>
<section class="container my-5 pt-1">
    <h2 class="mt-4 text-center">Categorías</h2>
    <span class="div-bar"></span>
    <p class="text-center mt-3 pb-2">Agrupamos todo para ti, ¡Encuentra lo mejor!</p>
    <h2>B</h2>
    <div class="group row row-cols-3 row-cols-sm-4 row-cols-md-5 g-1 mb-4 pt-3">
        <div class="col">
            <div class="card">
                <div class="card-img-overlay flex-column">
                    <h3 class="fontAwesome">&#xf2e7;</h3>
                    <h2>Banquete</h2>
                </div>
            </div>
        </div>
    </div>
    <h2>C</h2>
    <div class="group row row-cols-3 row-cols-sm-4 row-cols-md-5 g-1 mb-4 pt-3">
        <div class="col">
            <div class="card">
                <div class="card-img-overlay flex-column">
                    <h3 class="fontAwesome">&#xf7a6;</h3>
                    <h2>Conjunto</h2>
                </div>
            </div>
        </div>
    </div>
    <h2>I</h2>
    <div class="group row row-cols-3 row-cols-sm-4 row-cols-md-5 g-1 mb-4 pt-3">
        <div class="col">
            <div class="card">
                <div class="card-img-overlay flex-column">
                    <h3 class="fontAwesome">&#xf286;</h3>
                    <h2>Inflable</h2>
                </div>
            </div>
        </div>
    </div>
    <h2>P</h2>
    <div class="group row row-cols-3 row-cols-sm-4 row-cols-md-5 g-1 mb-4 pt-3">
        <div class="col">
            <div class="card">
                <div class="card-img-overlay flex-column">
                    <h3 class="fontAwesome">&#xf1fd;</h3>
                    <h2>Pastel</h2>
                </div>
            </div>
        </div>
    </div>
    <h2>S</h2>
    <div class="group row row-cols-3 row-cols-sm-4 row-cols-md-5 g-1 mb-4 pt-3">
        <div class="col">
            <div class="card">
                <div class="card-img-overlay flex-column">
                    <h3 class="fontAwesome">&#xf67f;</h3>
                    <h2>Salón</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-img-overlay flex-column">
                    <h3 class="fontAwesome">&#xf025;</h3>
                    <h2>Sonido</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<public-footer></public-footer>