@import "../../../../styles.scss";
.search-bg {
    background: url("../../../../assets/img/categories/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    min-height: 55vh;
    overflow: hidden;
    position: relative;
    padding: 0;
}

.data {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h2 {
    font-weight: 800;
}

.group {
    border-top: 3px solid $secondary;
}

.card {
    min-height: 130px;
    .card-img-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
            color: $primary;
        }
        h2,
        h3 {
            font-size: 30px;
        }
    }
}

.card:hover {
    cursor: pointer;
    h2 {
        color: #cfcfcf;
    }
}

@media (max-width: 992px) {
    .card {
        .card-img-overlay {
            h2,
            h3 {
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 454px) {
    .card {
        .card-img-overlay {
            h2,
            h3 {
                font-size: 23px;
            }
        }
    }
}

@media (max-width: 390px) {
    .card {
        min-height: 100px;
        .card-img-overlay {
            h2,
            h3 {
                font-size: 19px;
            }
        }
    }
}