@import "../../../../styles.scss";
h2 {
    font-weight: 800;
}

.group {
    border-top: 3px solid $secondary;
}

.card {
    min-height: 150px;
    .card-img-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
            color: $primary;
        }
        h2 {
            font-size: 2.5vw;
        }
    }
}

.card:hover {
    cursor: pointer;
    h2 {
        color: #cfcfcf;
    }
}